@import "color";

.books-container{
    padding-right:15%;
    padding-left:15%;
    background-color:$sub;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
}

.book{
    padding:10px 30px;
    background-color:white;
    color:black;
    margin-top:10px;
    margin-bottom:10px;
    border:5px solid $main;
    border-radius:10px;
    h4{
        color:$main;
    }
}

.review-container{
    display:flex;
    justify-content:space-between;
}

.info{
    a{
        margin:0 10px;
    }
}